.main-container {
    position: relative;
    width: 100%;
    flex-grow: 1;

    &__wrapper {
        max-width: 500px;
        padding: 24px 16px;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        font-size: 28px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 10px;

        &-wrapper {
            padding-bottom: 24px;
        }
    }

    &__subtitle {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: @color-grey1;
        margin-bottom: 32px;

        &--second {
            color: @color-second;
        }
    }

    &__output-price {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }
}