.main-container {
    position: relative;
    width: 100%;
    flex-grow: 1;

    &__wrapper {
        max-width: 500px;
        padding: 24px 16px;
        padding-bottom: 38px;
        padding-top: 18px;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        font-size: 28px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 10px;

        &-wrapper {
            padding-bottom: 31px;
        }
    }

    &__subtitle {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: @color-grey1;

        &--second {
            color: @color-second;
        }
    }
}

@media (min-width: 1200px) {
    .main-container {
        &__wrapper {
            position: relative;
            display: grid;
            grid-template-columns: 800px 1fr;
            max-width: 1200px;
            padding: 0;
            padding-top: 50px;
            padding-bottom: 73px;
        }

        &__title {
            margin-bottom: 0;
            margin-right: 20px;
            font-size: 40px;
            line-height: 42px;
            
            &-wrapper {
                grid-column: 1 / 2;
                display: flex;
                align-items: flex-end;
                padding-bottom: 60px;
            }
        }
    }
}