.product {
    padding-bottom: 40px;

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item {
        position: relative;
        padding: 16px 0;
        border-top: 0.5px solid #C8C8C8;
        border-bottom: 0.5px solid #C8C8C8;

        &-button {
            position: absolute;
            top: 16px;
            right: 0;

            &--delete {
                top: 12px;
                right: 8px;
            }
        }

        // Удаленный товар
        &-wrapper--delete {
            position: relative;
            padding: 12px 34px 12px 8px;
            background-color: @color-grey3;

        }

        &-title--delete {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin: 0;
            color: @color-grey1;
            margin-bottom: 4px;
        }

        &-subtitle--delete {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: @color-second;
        }



        // 1 блок
        &-photo-wrapper {
            display: flex;
            padding-right: 26px;
            margin-bottom: 8px;
        }

        &-photo {
            margin-right: 12px;
        }

        &-title {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: @color-second;
        }

        // 2 секция
        // &-characteristics {

        // }

        // Цифры
        &-num {
            margin-bottom: 16px;

            &-sublist {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }

            &-subitem {
                display: flex;

                &-text {
                    margin: 0;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: @color-grey1;
                    margin-right: 5px;

                    &--second {
                        margin: 0;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        color: @color-second;
                    }
                }
            }

        }

        // Размер
        &-size {
            margin-bottom: 16px;

            &-sublist {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }

            &-subitem {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                margin-right: 9px;
                background-color: @color-grey3;
                border-radius: 6px;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                &--current {
                    background-color: @color-second;
                    color: @color-main;
                }
            }
        }

        // Цвет
        &-color {
            margin-bottom: 16px;

            &-list {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
            }

            &-item {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-right: 16px;

                &:last-child {
                    margin-right: 0;
                }

                & span {
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                }

                &-1 {
                    & span {
                        background-color: #444444;
                    }

                    &--current {
                        background-color: #444444;

                        & span {
                            outline: 2px solid #ffffff;
                            outline-offset: -1px;
                        }
                    }
                }

                &-2 {
                    & span {
                        background-color: #106DA2;
                    }
                }

                &-3 {
                    & span {
                        background-color: #AE6D0C;
                    }
                }
            }
        }

        // Цена
        &-price {
            display: flex;

            &-columnLeft {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-num {
                    margin: 0;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;

                    &-crossed {
                        margin: 0;
                        color: @color-grey1;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }

            &-columnCenter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                width: 146px;
                height: 42px;
                display: flex;
                margin: 0 8px;
                padding: 0 10px;
                background-color: @color-grey3;
                border-radius: 5px;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: @color-second;
            }
        }
    }
}